<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>temperature</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
</head>
<body>
<table id="table_refresh" th:fragment="table_refresh">
    <tr>
        <th>大棚编号</th>
        <th>1#温度</th>
        <th>2#温度</th>
        <th>3#温度</th>
        <th>3#湿度</th>
    </tr>
    <tr th:each="temperatureInfo:${temperatureInfos}">
        <td th:text="${temperatureInfo.getGreenhouseNo()}"></td>
        <th th:text="|${temperatureInfo.getTemperature1()}°|"></th>
        <th th:text="|${temperatureInfo.getTemperature2()}°|"></th>
        <th th:text="|${temperatureInfo.getTemperature3()}°|"></th>
        <th th:text="|${temperatureInfo.getHumidity()}%|"></th>
    </tr>
</table>
</body>
<script>
    setInterval("localRefresh();", 3000);

    function localRefresh() {
        // 装载局部刷新返回的页面
        $('#table_refresh').load("/temperatures/refresh");
    }
</script>
</html>